<% microposts.each do |micropost| %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <% user = micropost.user %>
        <img src="<%= gravatar_url(user, options = { size: 50 }) %>" alt="">
          <%= link_to user.name, user_path(user) %> <span class="text-muted">posted at <%= micropost.created_at %></span>
          <p><%= micropost.content %></p>
          <p class="photo-size"><%= image_tag micropost.image.url if micropost.image? %></p>
          <%= render 'favorites/like_button', micropost: micropost %>
          <% if current_user == micropost.user %>
            <%= link_to "Delete", micropost, method: :delete, data: { confirm: "You sure?" }, class: 'btn btn-danger btn-xs' %>
          <% end %>
    </div>
     <div class="panel-body">
      <% if micropost.retweets.present? %>
        <% micropost.retweets.each do |retweet| %>
         
        <img src="<%= gravatar_url(user, options = { size: 50 }) %>" alt="">
          <%= link_to retweet.user.name, user_path(retweet.user) %> <span class="text-muted">posted at <%= retweet.created_at %></span>
          <p><%= retweet.content %></p>
          <p class="photo-size"><%= image_tag retweet.image.url if retweet.image? %></p>
          <%= render 'favorites/like_button', micropost: micropost %>
          <% if current_user == micropost.user %>
            <%= link_to "Delete", micropost, method: :delete, data: { confirm: "You sure?" }, class: 'btn btn-danger btn-xs' %>
          <% end %>
        <% end %>
      <% end %>
      <%= form_for Micropost.new do |f| %>
        <div class="form-group">
          <%= f.text_area :content, class: 'form-control', rows: 5 %>
          <%= f.file_field :image %>
          <%= f.hidden_field :retweet_id, value: micropost.id %>
        </div>
        <%= f.submit 'Retweet', class: 'btn btn-primary btn-xs' %>
      <% end %>
          
          </div>
        
      <hr>
      
  <% end %>

  <%= paginate microposts %>
</div>


